<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %-15logger{32} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="client-1" level="debug" />
    <logger name="client-1-conn" level="debug" />

    <logger name="telekinesis.SteamClient" level="debug" />

	<root level="info">
		<appender-ref ref="stdout" />
	</root>
	
</configuration>



